@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
:root {
  font-family: "Rubik";
  background-color: hsl(270, 20%, 96%);
}

#whole-body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
body {
  /* background-image: linear-gradient(
    0.25turn,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  background-position: left -2rem top -2rem;
  background-size: 30%;
  background-repeat: no-repeat; */
}

#title h1 {
  color: hsl(271, 36%, 24%);
  font-weight: 500;
  font-size: 1.85rem;
}

#title p {
  max-width: 42ch;
  color: hsl(270, 7%, 64%);
  font-size: small;
  line-height: 1.15rem;
  font-weight: 400;
}

#image-1 {
  max-width: 12%;
  border-radius: 100vmax;
  border-width: 1.5px;
  border-style: solid;
  border-color: hsl(0, 0%, 100%);
}

#top-app {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    0.25turn,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#first {
  position: absolute;
  align-self: center;
  margin-top: 0;
  margin-left: 0;
  border: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px;
}

#source {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  /* margin-bottom: 10px; */
  margin: none;
}

#source-name {
  margin-left: 0;
}

#source-name h2 {
  color: hsl(276, 100%, 81%);
  font-weight: 500;
  margin-bottom: 5px;
  font-size: 1rem;
}

#source-name p {
  font-weight: 400;
  margin-top: 0;
  font-size: x-small;
  line-height: 0.9rem;
}

.sender {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
}
.message-1 p {
  color: hsl(276, 55%, 52%);
  font-weight: 400;
  max-width: 22ch;
  font-size: 0.7rem;
  line-height: 1rem;
  background-color: hsl(276, 37%, 92%);
  border-radius: 17px;
  border-bottom-left-radius: 5px;
  padding: 5px 8px 5px 8px;
  margin-top: 5px;
  margin-bottom: 8px;
  margin: 0;
}

.receiver {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
.message-2 p {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  color: hsl(271, 15%, 43%);
  font-weight: 400;
  max-width: 23ch;
  font-size: 0.7rem;
  line-height: 1rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 17px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px 5px 10px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin: 0;
}

.dog-image {
  max-width: 20%;
  border-radius: 15px;
}

#main-image-div {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#walk-time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.35rem;
}

.empty-div {
  border-style: solid;
  border-color: hsl(289, 100%, 72%);
  align-self: center;
  border-radius: 100vw;
  width: 0.85rem;
  height: 0.85rem;
}

#style-time {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: linear-gradient(
    0.25turn,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );

  gap: 3rem;
  border-radius: 15px;
  border-bottom-left-radius: 5px;
  padding: 3px 20px 3px 10px;
  margin-top: 10px;
  margin: 0;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.7rem;
}

#style-time p {
  font-weight: 400;
  color: hsl(289, 100%, 72%);
  line-height: 0.85rem;
  font-size: small;
  align-self: flex-start;
}

#style-time h1 {
  align-self: center;
  font-weight: 500;
  font-size: 16px;
  color: hsl(0, 0%, 100%);
}

#type-section {
  border-radius: 30px;
  border: 0;
  padding: 17px 50px;
  align-self: center;
  margin-top: 10px;
}

#message-body {
  align-self: center;
  width: 18rem;
  height: 38rem;
  border-radius: 35px;
  border: 0.9rem solid hsl(0, 0%, 100%);
  background-color: hsl(270, 20%, 96%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* transform: scale(0.5); */
}

#inner-message-body {
  padding: 0.5rem;
}
